@{
    ViewBag.Title = "ViewPhotos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <link href="~/Stylesheet/PhotoStyle.css" rel="stylesheet" />

   }
            <h2>View Photos</h2>
            <section id="photos">
                <img src="https://images.neobookings.com/1020x615/hotels/ibiza-ciudad/hotel-central-playa/rooms/single-room-k04558p74e.jpg" class="img-thumbnail" alt="Single Room">
                <img src="https://pms.winks.com.ar/system/room_categories/photos/000/008/160/background/2019-07-20_Selina_Nosara_Rooms_Suite_Meero_009.jpg?1569029176" class="img-thumbnail" alt="Single Room">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/02/36/b7/2a/bed-in-a-single-room.jpg" class="img-thumbnail" alt="Single Room">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/0f/f5/c9/22/i-honestly-don-t-know.jpg" class="img-thumbnail" alt="Single Room">
                <img src="https://r-cf.bstatic.com/images/hotel/max1024x768/228/228778433.jpg" class="img-thumbnail" alt="Single Room">
                <img src="https://r-cf.bstatic.com/images/hotel/max1024x768/282/28232044.jpg" class="img-thumbnail" alt="Single Room">
                <img src="https://i.pinimg.com/originals/65/20/c0/6520c05f402d510e0f08c19822c99ecd.jpg" class="img-thumbnail" alt="Single Room">

                <img src="https://images.neobookings.com/1020x615/hotels/bahia-de-san-antonio/hotel-playasol-riviera/rooms/single-room-em6ro2n56g.jpg" class="img-thumbnail" alt="Double Room">
                <img src="https://hotel-saint-christophe.eu/images/stories/rooms/single-2019/chambre-single-hotel-saint-christophe-paris-7.jpg" class="img-thumbnail" alt="Double Room">
                <img src="https://r-cf.bstatic.com/images/hotel/max1024x768/173/173093656.jpg" class="img-thumbnail" alt="Double Room">
                <img src="https://hotel-saint-christophe.eu/images/stories/rooms/single-2019/chambre-single-hotel-saint-christophe-paris-5.jpg" class="img-thumbnail" alt="Double Room">
                <img src="https://az416281.vo.msecnd.net/rooms/14474-single-standard-room/500x300/0010-print-Room65-300dpiCMYK.jpg" class="img-thumbnail" alt="Double Room">

                <img src="https://cdn.webhotelier.net/photos/w=1920/ibiscushr-single/L268239.jpg" class="img-thumbnail" alt="Multiple guests">
                <img src="https://q-xx.bstatic.com/xdata/images/hotel/max300/207122775.jpg?k=c0ea86ec0b0d7d64ce53346659b668ba841033e9ed1ce30d4663ab62aec174e0&o=" class="img-thumbnail" alt="Multiple guests">
                <img src="https://content.r9cdn.net/himg/19/4b/4c/hotelsdotcom-392929-e6915d55_w-753400.jpg" class="img-thumbnail" alt="Multiple guests">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/0f/20/91/16/comfort-inn-suites-oakland.jpg" class="img-thumbnail" alt="Multiple guests">
                <img src="https://www.slieverussell.ie/cmsadmin/uploads/thumb/bedroom616.jpg" class="img-thumbnail" alt="Multiple guests">

            </section>

