@Styles.Render("~/Stylesheet/about_stylesheet.css")

@{
    ViewBag.Title = "About";
}

    <br />    <br />
<h2>We are introducing an online portal to book a room at our hotel instantly within few clicks!!!</h2>


<center>
    <p>
        <img src="~/images/hotel_about.png" />
    </p>
</center>
<p><i><h4>@ViewBag.Message</h4></i></p>
