@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dublin<br />
    Ireland<br />
    <abbr title="Phone">P:</abbr>
    8734358839
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@hotelrombooking.com">support@hotelrombooking.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@hotelroombooking.com">marketing@hotelrombooking.com</a>
</address>